---
- include: merge_vars.yml

- name: Create prometheus directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ prometheus.user_id }}"
  with_items:
   - "{{ prometheus.conf_dir }}"
   - "{{ prometheus.data_dir }}"

- name: Write prometheus config file
  template:
    src: prometheus.yml
    dest: "{{ prometheus.conf_dir }}/"
    owner: "{{ prometheus.user_id }}"
  notify: Service handler

- name: Create alertmanager directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "root"
  with_items:
   - "{{ alertmanager.conf_dir }}"
   - "{{ alertmanager.data_dir }}"

- name: Write alertmanager config file
  template:
    src: alertmanager.yml
    dest: "{{ alertmanager.conf_dir }}/"
    owner: "root"
  notify: Service handler

- include: setup_container.yml
  when: containerized

- import_tasks: install_packages.yml
  when: not containerized
