---
- name: Include ceph-docker
  include_role:
    name: ceph-docker
    allow_duplicates: false
  when: containerized

- name: Make sure the node_exporter service is down
  service:
    name: node_exporter
    state: stopped
  failed_when: false

- name: Start docker container
  docker_container:
    name: node-exporter
    image: "{{ node_exporter.container_image }}"
    state: started
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--no-collector.timex'
    # restart to allow updates
    restart: true
    restart_policy: no
    force_kill: yes
    detach: true
    volumes:
      - '/proc:/host/proc:ro'
      - '/sys:/host/sys:ro'
    network_mode: host
    keep_volumes: true
    pull: true
  notify: Restart service

- name: Ship systemd service
  copy:
    src: node_exporter.service
    dest: "/etc/systemd/system/"
    owner: root
    group: root
    mode: 0644
  notify: Restart service
