dummy:

## Choose protocol -- http or https
# For https, you should set grafana.crt/key and dashboard.crt/key
#
# If you don't, the scripts will use self-signed certificates and
# you will have to confirm security exceptions for both dashboard
# web UI and Grafana.
#protocol: http

## Set grafana options
# For new deployments, you can directly set the user/password,here.
# Please change user/pwd in the web UI on an already deployed machine
# before changing them, here.
#grafana:
#  admin_user: admin
#  admin_password: admin
#  crt: ''
#  key: ''

## Set dashboard options
#dashboard:
#  admin_user: admin
#  admin_password: admin
#  crt: ''
#  key: ''
#  port: 8234
