dummy:

# Turn on/off containerized deployment
#containerized: true

# Turn on/off devel_mode
#devel_mode: true

# Choose http or https
# For https, you should set grafana.crt/key and dashboard.crt/key
#protocol: http
#
## Set grafana options
# For new deployments, you can directly set the user/password,here.
# Please change user/pwd in the web UI on an already deployed machine
# before changing them, here.
#grafana:
#  admin_user: admin
#  admin_password: admin
#  crt: ''
#  key: ''

## Set dashboard options
#dashboard:
#  admin_user: admin
#  admin_password: admin
#  crt: ''
#  key: ''
#  port: 8004
