[Unit]
Description=Cephmetrics prometheus service

[Service]
ExecStart=/usr/bin/prometheus -log.level error -config.file /etc/cephmetrics/prometheus.yml -storage.local.path /var/lib/cephmetrics/prometheus
Restart=on-failure
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
