[ceph-grafana]
grafana_host.example.com

[osds]
osd0.example.com
osd1.example.com
osd2.example.com

[mons]
mon0.example.com
mon1.example.com
mon2.example.com

[mdss]
mds0.example.com

[rgws]
rgw0.example.com
